<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Intentionally no INTERNET, READ_EXTERNAL_STORAGE, or WRITE_EXTERNAL_STORAGE permissions. -->

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher"
        android:label="Image to PDF"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
